/* NORMOLIZING STYLES */
ul,
ol {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}

/* ====MAIN STYLES==== */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo span {
  color: #4d5ae5;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: #2e2f42;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/* ====HEADER==== */

.header_logo {
  color: #2e2f42;
}

.navigation_list_link {
  font-weight: 500;
  color: #2e2f42;
}
.navigation_list_link:hover,
.navigation_list_link:focus,
.address_list_link:hover,
.address_list_link:focus {
  color: #404bbf;
}

/* ====HERO==== */
.hero {
  background: #2e2f42;
}
.hero_title {
  font-size: 56px;
  color: #ffffff;
}
.hero_button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
.hero_button:hover {
  background: #404bbf;
}
/* ====BENEFITS==== */

/*====TEAM====  */
.team {
  background: #f4f4fd;
}
.team_list_item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
}
/* ====PORTFOLIO==== */
/* ====footer==== */
.footer {
  background: #2e2f42;
}
.footer_logo {
  color: #f4f4fd;
}

.footer_text {
  color: #f4f4fd;
}
